@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes growWidth {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .animated-bg {
    background: linear-gradient(-45deg, #1a202c, #2d3748, #4a5568, #2d3748);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
  }